/*
iPhoneCal - inspired by apple's default calendar widget in Dashboard
*/
.iPhoneCal{
	background-color: rgb( 255, 255, 255 );
	color: #0073b7;
	font-size:14px;
	//width:265px; /* cellwidth * 7 + cellborder * 14 */
	width:100%; 
	display:block;
	min-height:240px;
	font-family: Helvetica;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 15px 15px #888;
        //-webkit-border-radius: 20px;
}
.iPhoneCal:hover{ cursor:pointer; }
.iPhoneCal .calwrapper{ display:block; }
.iPhoneCal .calweekswrapper{ display:block; }

.iPhoneCal .calheader{
	display: block;
	width:100%;
	text-align:center;
	font-size:14px; font-weight: bold;
}
.iPhoneCal .caltitle{
	width:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
        font-size:20px;
	//height:23px;
	//padding-top: 6px;
	vertical-align: bottom;
}
.iPhoneCal .calcontrol{
	font-weight: bold;
	width:40px;
	padding-top: 4px;
	height:20px;
}
.iPhoneCal .calprevmonth{ float:left; }
.iPhoneCal .calnextmonth{ float:right; }
.iPhoneCal .calclose{ float:right; display:none; }

.iPhoneCal .daybox{
	float:left;
	//border-top: 2px solid rgb( 210, 210, 210 );
	//border-right: 2px solid rgb( 210, 210, 210 );
	width:42px;
	height:30px;
	font-weight: bold;
	text-align:center;	
	padding-top: 5px;
}
.iPhoneCal .dayboxname{
	//border-right: 2px solid rgb( 201, 199, 204 );
	border-top: none;
	background-color: rgb( 255, 255, 255 );
	font-size: 14px;
	height: 20px;
	color: rgb( 12, 96, 194 );
	padding-top: 3px;
}
.iPhoneCal .dayboxvalue{
	display:none;
}
.iPhoneCal .daybox:hover{
}
.iPhoneCal .dayboxname:hover{
}
.iPhoneCal .dayinmonth{
}
.iPhoneCal .dayoutmonth{
	color: rgb( 150, 150, 150 );
}
.iPhoneCal .dayselected{
	color: #ffffff;
	background-color: rgb( 12, 96, 194 );
        border-radius: 50px;
        
        
}
.iPhoneCal .dayselected .dayboxdate{
	text-decoration: none;
}
.iPhoneCal .daycurrent{
}
.iPhoneCal .weekbox{
	width:100%;
	display:block;
}
.iPhoneCal .endweek{
	float:left;
	border-right: none;
}
.iPhoneCal .weekboxname{
}
